<launch>

	<!--============================= Airsim ros noed============================= -->

	<arg name="output" default="log"/>
	<arg name="publish_clock" default="false"/>
	<arg name="is_vulkan" default="true"/>
	<arg name="host" default="localhost" />
	<arg name="frame" default="/world_enu"/>

	<node name="airsim_node" pkg="airsim_ros_pkgs" type="airsim_node" output="$(arg output)">
		<param name="is_vulkan" type="bool" value="false" /> 
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.05" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.01" />
		<param name="update_lidar_every_n_sec" type="double" value="0.01" />
		<param name="publish_clock" type="bool" value="$(arg publish_clock)" />
		<param name="host_ip" type="string" value="$(arg host)" />
		<param name="odom_frame_id" type="string" value="odom_local_enu" />
		<param name="world_frame_id" type="string" value="$(arg frame)" />
	
	</node>
	<!-- Static transforms -->
	<include file="$(find airsim_ros_pkgs)/launch/static_transforms.launch"/>
	<!--============================= Airsim ros noed============================= -->




	<!--=============================SE3controller============================= -->
    <node name="se3_controller_node" pkg="se3controller" type="se3controller_ros_node" output="screen">
        <param name="Kp_x" value="5.25" />
        <param name="Kp_y" value="5.25" />
        <param name="Kp_z" value="4" />
        <param name="Kv_x" value="5" />
        <param name="Kv_y" value="5" />
        <param name="Kv_z" value="5" />
        <param name="attctrl_tau" value="0.32" />
        <param name="norm_thrust_const" value="0.09" />  

        <remap from="odometry_topic" to="/airsim_node/drone_1/odom_local_enu" />
        <remap from="position_with_yaw" to="/command/trajectory" />

    </node>
	<!--=============================SE3controller============================= -->



    <node name="flying_example" pkg="se3controller" type="flying_example" output="screen">
        <param name="radius" value="5.0" />
        <param name="altitude" value="8.0" />
        <param name="omega" value="1.5" />
        <param name="dt" value="0.02" />
    </node>  


	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find se3controller)/rviz/controller.rviz" />
</launch>
