<launch>



    <node name="flying_example" pkg="se3controller" type="flying_example" output="screen">
        <param name="radius" value="6.0" />
        <param name="altitude" value="8.0" />
        <param name="acceleration" value="0.1" />
        <param name="omega_max" value="0.85" />

        <param name="dt" value="0.02" />
    </node>     



    <!-- <node name="cmd2airsim" pkg="traj_server" type="cmd2airsim" output="screen" >
    </node> -->

</launch>