<launch>



    <node name="flying_traj_example" pkg="se3controller" type="flying_traj_example" output="screen">
        <!-- 普通参数 -->
        <param name="radius" value="15.0" />
        <param name="altitude" value="8.0" />
        <param name="acceleration" value="0.1" />
        <param name="omega_max" value="1.5" />
        <param name="dt" value="0.02" />

        <param name="omega_x" value="0.6" />
        <param name="omega_y" value="0.8" />

        <!-- 新增的参数，用于控制选择轨迹类型 -->
        <!-- <param name="trajectory_type" value="circle" />  -->
        <param name="trajectory_type" value="eight" /> <!-- 或者 "circle" -->



    </node>

	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find se3controller)/rviz/controller.rviz" />

</launch>